/* Tailwind Transitions */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 250ms ease-out;
}

.slide-fade-leave-active {
    transition: all 250ms cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

/* Animations */

.popup {
    animation: popup .2s ease-out;
}

@keyframes popup {
    0% {
        transform: scale(110%);
    }

    100% {
        transform: scale(100%);
    }
}

.load-fade {
    animation: load-fade .2s ease-out;
}

@keyframes load-fade {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
