@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-3xl font-extrabold;
}

h2 {
    @apply text-2xl font-bold;
}

p {
    @apply mb-5;
    color: #454545;
}

/* Scrollbar */
.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #141414;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Without scrollbar */
.noscrollbar::-webkit-scrollbar {
    display: none;
}
