@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Raleway;
    src: url("./assets/fonts/Raleway-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: Raleway;
    src: url("./assets/fonts/Raleway-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Raleway;
    src: url("./assets/fonts/Raleway-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Raleway;
    src: url("./assets/fonts/Raleway-Bold.ttf");
    font-weight: bold;
}

.popup {
    animation: popup 0.1s ease-out;
}

@keyframes popup {
    0% {
        transform: scaleZ(10%);
    }

    80% {
        transform: translate3d(0, -10px, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}