@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Kodchasan;
    src: url("./assets/fonts/Kodchasan-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: Kodchasan;
    src: url("./assets/fonts/Kodchasan-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Kodchasan;
    src: url("./assets/fonts/Kodchasan-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Kodchasan;
    src: url("./assets/fonts/Kodchasan-Bold.ttf");
    font-weight: bold;
}

.popup {
    animation: popup .2s ease-out;
}

@keyframes popup {
    0% {
        transform: scale(110%);
    }

    100% {
        transform: scale(100%);
    }
}
